
   body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #8a2be2, #000000);
}

}
}


   

 header{ 
 font-size:50px;
 text-align:center;
background-color:rgb(124, 86, 160)
 }

 
